# PostgreSQL Bağlantı Dizesi (Opsiyonel - Tanımlanmazsa In-Memory Fallback kullanılır)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bluejay?schema=public"

# Node Ortamı
NODE_ENV="development"
